/* html, body {
  margin: 0;
  height: 100%;
} */

html {
  margin: 0px;
  min-height: 100%;
}

/* body {
  margin: 0px;
  min-height: 100%;

} */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  /* letter-spacing: .1rem; */
  /* height: 100%; */
  /* background: radial-gradient(circle at top right, #ebcbf7 10%, #fcf3ef, #fdfcf9 40%); */
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  background-repeat: no-repeat;
}

.main-container {
  padding: 1em;
}

header {
  margin: 0;
  margin-bottom: 4em;
  padding: 2em;
  max-width: 100%;
  height: 100px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/****************Hamburger Menu********************************/

nav a {
  margin: 0 2rem;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #7AB195;
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
}

@media only screen and (max-width: 700px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    z-index: 10;
    height: 400px;
    width: 50%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 1.5rem; */
    background-color: #494850;
    transition: 600ms;
    transform: translateY(-100vh);
    border-bottom-left-radius: 20px;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 0rem;
    right: .5rem;
    font-size: 1.5rem;
    color: #ffff;

  }

  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #494850;
    width: 100px;
    height: 30px;
    background-color: #85ffbd;
    border-radius: 10px;
    padding: 10px;
  }

}

h1 {
  margin: 0;
  letter-spacing: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.intro-container {
  padding: 1em;
  background-color: #ffff;
  margin: 0 auto;
  margin-bottom: 4em;
  max-width: 500px;
  /* border: 3px solid #efaff8; */
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.map {
  border: 3px solid #ffff;
  border-radius: 20px;
  margin: 1em auto;
  margin-bottom: 4em;
  overflow: hidden;
  max-width: 900px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.poll-label {
  text-align: center;
  /* background-color: #ffff; */
  color: rgb(73, 72, 72);
  margin: 1em auto;
  margin-bottom: 4em;
  width: 300px;
  padding: 1em;
  border-radius: 20px;
  border: 3px solid grey;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* #reactgooglegraph-1 {
  max-width: 100%;

} */

.barchart {
  border-radius: 20px;
  overflow: hidden;
  max-width: 900px;
  margin: 1em auto;
  margin-bottom: 4em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


/*************Footer*********************/

footer {
  margin: 0;
  padding: 2em;
  max-width: 100%;
  height: 100px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
