html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  color: #494850;
}

nav {
  margin: 0;
  padding: 2em;
  max-width: 100%;
  height: 20%;
  background-color: #ffff;


}

h1 {
  margin: 0;
}
